<head>
    <title>Student Application</title>
    <style>
        center {
            background-color: darkorange;
            padding: 75px 98px;
            margin: 55px 65px;
            border-radius: 100px;
        }

        button {
            background-color: crimson;
            font-size: 25px;
            font-style: italic;
        }

        h1 {
            padding: 25px;
            margin: 50px;
            border-radius: 50px;
        }
    </style>
</head>

<center>
    <h1 style="background-color: aqua">Student Application</h1>
    <a href="/studentapplication">
        <button>StudentApplication</button>
    </a><br>
    <a href="/studentregistration">
        <button>StudenyRegistration</button>
    </a><br>
    <a href="/studentlogin">
        <button>StudentLogin</button>
    </a><br>

    <a href="/staffregistration">
        <button>StaffRegistration</button>
    </a><br>
    <a href="/stafflogin">
        <button>StaffLogin</button>
    </a><br>
</center>
