<head>
    <title>Home page</title>
    <style>
        h1 {
            background-color: aqua;
            border-radius: 90px;
        }

        center {
            background-color: cornflowerblue;
            border-radius: 70px;
            font-family: "Arial Black";
        }
    </style>
</head>

<center>
    <h1>StudentApplication</h1>
    <a href="/studentapplication">StudentApplication</a><br>
    <a href="/studentregistration">StudentRegistration</a><br>
    <a href="/studentlogin">StudentLogin</a><br>
</center>