<head>
    <title>Student Register</title>
    <style>
        form {
            background-color: cornflowerblue;
            padding: 70px 90px;
            margin: 20px 30px;
            border-radius: 50px;
            font-family: "Arial Black";
        }

        h1 {
            border-radius: 50px;
        }
    </style>
</head>
<center>
    <form method="post" enctype="multipart/form-data">
        <h1 style="background-color: deeppink">Student Register Application</h1>
        {% csrf_token %}
        {{ rform.as_p }}
        <input type="submit" value="Register">
    </form>
</center>